<html>
    <head>
    </head>
    <body>
        <p>
            Buongiorno!<br><br>
            Hai richiesto una nuova password. Per cambiare la password clicca sul seguente link:<br><br>
            <a href="{{ verification_url }}">Reimposta la password:</a><br><br>
            Se non hai effettuato alcuna richiesta ignora il presente messaggio.
        </p>
        <p>
            Cordiali saluti,
        </p>
        <p>
            Fondation des Parkings<br>
        </p>
    </body>
</html>