<html>
    <head>
    </head>
    <body>
        <p>
            Guten Tag!<br><br>
            Sie haben ein neues Passwort angefordert. Bitte klicken Sie auf den Link unten, um die Änderung durchzuführen:<br><br>
            <a href="{{ cookiecutter.verification_url }}">Passwort zurücksetzen</a><br><br>
            Wenn Sie keine solche Änderung angefordert haben, möchten wir Sie bitten, diese Nachricht zu ignorieren.
        </p>
        <p>
            Freundliche Grüsse,
        </p>
        <p>
            Die Fondation des Parkings<br>
        </p>
    </body>
</html>
