<html>
    <head>
    </head>
    <body>
        <p>
            Bonjour,<br><br>
            Vous avez effectué une demande de nouveau mot de passe. Merci de bien vouloir cliquer sur le lien ci-dessous pour effectuer ce changement :<br><br>
            <a href="{{ cookiecutter.verification_url }}">Réinitialiser votre mot de passe</a><br><br>
            Si vous n'êtes pas à l'origine de cette demande, nous vous prions d'ignorer cet e-mail.
        </p>
        <p>
            Cordialement,
        </p>
        <p>
            La Fondation des Parkings<br>
        </p>
    </body>
</html>
